.check-otp__box {
    width: 300px;
    height: 250px;
    position: absolute;
    background-color: #fff;
    top: 30%;
    left: 40%;
    border-radius: 5px;
    .check-modal__header {
        padding: 5px 20px;
        border-bottom: 1px solid #ddd;
        align-items: center;
        position: relative;
        h1 {
            font-size: 18px;
            font-weight: 400;
        }
    }
    .form-check {
        display: block;
        padding: 10px;
        .mr__bt {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        p {
            color: rgba(0, 0, 0, 0.26);
            font-size: 0.875rem;
        }
    }
}
